{% extends 'base.html' %}
{% block title %}Form no. {{ form.id }}{% endblock %}
{% block content %}
<p>Hi {{ admin.first_name }},</p>
<p>{{ form.user.full_name }} (<a href="mailto:{{ form.user.email }}">{{ form.user.email }}</a>) has submitted form no. {{ form.id }}.</p>
<p>Here are the details:</p>
<ul>
	<li>Course: {{ form.course }}</li>
	<li>Time: {{ form.time.strftime('%A %d %B at %H:%M (UTC)') }}</li>
	<li>Payment method: {{ form.payment_method.name.capitalize() }}</li>
	<li>Amount: &euro;{{ form.amount }}</li>
	<li>Receipt number: {{ form.receipt }}</li>
</ul>
<p>You can click <a href="{{ resolve_link }}">here</a> here to mark this form as resolved.</p>
{% endblock %}
